################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StandardFizzBuzzApp/bin
/StandardFizzBuzzApp/obj
/StandardFizzBuzzApp/.vs

/TwistedFizzBuzz/bin
/TwistedFizzBuzz/obj
/TwistedFizzBuzz/.vs

/TwistedFizzBuzzUsage/bin
/TwistedFizzBuzzUsage/obj
/TwistedFizzBuzzUsage/.vs

/MAP.BLL/obj/Debug
/MAP.DAL/obj/Debug
/MAP.DAL/bin/Debug
/MAP.Library/obj/Debug
/MAP.Library/bin/Debug
/MAP.Model/obj/Debug
/MAP.Model/bin/Debug
/MAP.Resources/obj/Debug
/MAP.Resources/bin/Debug
/MAP.Web/obj/Debug
/MAP.Web/bin
/MAP.Web/Properties/PublishProfiles/local.pubxml.user
/packages
/MAP.Web/Web.Debug.config
/MAP.Web/Web.Release.config
/MAP.BLL/obj/Release
/MAP.BLL/bin/Release
/MAP.DAL/obj/Release
/MAP.DAL/bin/Release
/MAP.Library/obj/Release
/MAP.Library/bin/Release
/MAP.Model/obj/Release
/MAP.Model/bin/Release
/MAP.Resources/obj/Release
/MAP.Resources/bin/Release
/MAP.Web/obj/Release
/MAP.Web/relatorio
/MAP.Web/contasreceber20190411.xls
/.vs
/.vs/MAP/v14
/.suo
/MAP.Web/MAP.Web.csproj.user
/Vetz.WEB/bin
/Vetz.WEB/obj/Debug
/Vetz.WEB/VETZ.Web.csproj.user
/Vetz.WEB/obj/Release
