################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StandardFizzBuzzApp/bin
/StandardFizzBuzzApp/obj
/StandardFizzBuzzApp/.vs

/TwistedFizzBuzz/bin
/TwistedFizzBuzz/obj
/TwistedFizzBuzz/.vs

/TwistedFizzBuzzUsage/bin
/TwistedFizzBuzzUsage/obj
/TwistedFizzBuzzUsage/.vs

/TwistedFizzBuzzTests/bin
/TwistedFizzBuzzTests/obj
/TwistedFizzBuzzTests/.vs

/.vs
/.suo
